In [9]:
import numpy as np
import pandas as pd
data =pd.read_csv('IPL Ball-by-Ball 2008-2020.csv')
dataByMatch=pd.read_csv("IPL Matches 2008-2020.csv")

In [31]:
data['ballNo']=data.apply(lambda x: [1], axis=1, result_type='expand' )
data1=data.groupby(['id','batsman']).sum()
data.head(5)

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,ballNo
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,1
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,1
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,1
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,1
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,1

In [32]:
data1['runRate']=data1.apply(lambda x:(x['batsman_runs']/x['ballNo'])*100,axis=1, result_type='expand')
data1.head(19)

                        inning  over  ball  batsman_runs  extra_runs  \
id     batsman
335982 AA Noffke            24   110    43             9           2
       B Akhil               4    16     3             0           0
       BB McCullum          77   746   284           158          11
       CL White             20    64    42             6           0
       DJ Hussey            12   175    34            12           0
       JH Kallis            14    24    23             8           1
       MV Boucher           22    66    54             7           3
       Mohammad Hafeez       3    52    13             5           0
       P Kumar              34   194    73            18           5
       R Dravid              6     1     7             2           0
       RT Ponting           20   162    78            20           4
       SB Joshi             16   113    21             3           2
       SC Ganguly           12    34    39            10           2
       V Kohli              10     7    12             1           4
       W Jaffer             36    36    74             6           2
       Z Khan               16    94    31             3           0
335983 IK Pathan            10    91    20             3           0
       JDP Oram             11   147    41            13           1
       JR Hopes             68   175   122            71           1

                        total_runs  non_boundary  is_wicket  ballNo  \
id     batsman
335982 AA Noffke                11             0          1      12
       B Akhil                   0             0          1       2
       BB McCullum             169             0          0      77
       CL White                  6             0          1      10
       DJ Hussey                12             0          1      12
       JH Kallis                 9             0          1       7
       MV Boucher               10             0          1      11
       Mohammad Hafeez           5             0          0       3
       P Kumar                  23             0          0      17
       R Dravid                  2             0          1       3
       RT Ponting               24             0          1      20
       SB Joshi                  5             0          1       8
       SC Ganguly               12             0          1      12
       V Kohli                   5             0          1       5
       W Jaffer                  8             0          1      18
       Z Khan                    3             0          1       8
335983 IK Pathan                 3             0          0       5
       JDP Oram                 14             0          1      11
       JR Hopes                 72             0          1      34

                           runRate
id     batsman
335982 AA Noffke         75.000000
       B Akhil            0.000000
       BB McCullum      205.194805
       CL White          60.000000
       DJ Hussey        100.000000
       JH Kallis        114.285714
       MV Boucher        63.636364
       Mohammad Hafeez  166.666667
       P Kumar          105.882353
       R Dravid          66.666667
       RT Ponting       100.000000
       SB Joshi          37.500000
       SC Ganguly        83.333333
       V Kohli           20.000000
       W Jaffer          33.333333
       Z Khan            37.500000
335983 IK Pathan         60.000000
       JDP Oram         118.181818
       JR Hopes         208.823529

In [37]:
data2=data.groupby(['id','bowler']).sum()
data2.head(19)

                        inning  over  ball  batsman_runs  extra_runs  \
id     bowler
335982 AA Noffke            25   249    91            35           6
       AB Agarkar           56   196   114            21           4
       AB Dinda             40    44    77             7           2
       CL White              7    98    28            22           2
       I Sharma             38   122    70             6           7
       JH Kallis            25   300    91            47           5
       LR Shukla            18   114    31             9           3
       P Kumar              25   150    91            37           4
       SB Joshi             18   198    63            26           0
       SC Ganguly           50   249    91            20           3
       Z Khan               24   174    84            38           0
335983 B Lee                25   146    91            34           2
       IK Pathan            24   276    84            47           0
       JDP Oram             48   144    84            37           0
       JR Hopes             24   264    84            53           1
       Joginder Sharma      50   320    91            46           1
       K Goel               12   120    42            25           0
       M Muralitharan       50   283    91            31           4
       MS Gony              52   160    99            40           3

                        total_runs  non_boundary  is_wicket  ballNo
id     bowler
335982 AA Noffke                41             0          1      25
       AB Agarkar               25             0          3      28
       AB Dinda                  9             0          2      20
       CL White                 24             0          0       7
       I Sharma                 13             0          1      19
       JH Kallis                52             0          1      25
       LR Shukla                12             0          1       9
       P Kumar                  41             0          0      25
       SB Joshi                 26             0          0      18
       SC Ganguly               23             0          3      25
       Z Khan                   38             0          1      24
335983 B Lee                    36             0          1      25
       IK Pathan                47             0          2      24
       JDP Oram                 37             0          0      24
       JR Hopes                 54             0          1      24
       Joginder Sharma          47             0          1      25
       K Goel                   25             0          0      12
       M Muralitharan           35             0          1      25
       MS Gony                  43             0          1      26

In [41]:
data2['costRate']=data2.apply(lambda x:((x['is_wicket']/x['ballNo'])*100 if x['total_runs']==0 else x['ballNo']/x['total_runs']+x['is_wicket']/x['ballNo'])*100,axis=1, result_type='expand')
data2.head(19)

                        inning  over  ball  batsman_runs  extra_runs  \
id     bowler
335982 AA Noffke            25   249    91            35           6
       AB Agarkar           56   196   114            21           4
       AB Dinda             40    44    77             7           2
       CL White              7    98    28            22           2
       I Sharma             38   122    70             6           7
       JH Kallis            25   300    91            47           5
       LR Shukla            18   114    31             9           3
       P Kumar              25   150    91            37           4
       SB Joshi             18   198    63            26           0
       SC Ganguly           50   249    91            20           3
       Z Khan               24   174    84            38           0
335983 B Lee                25   146    91            34           2
       IK Pathan            24   276    84            47           0
       JDP Oram             48   144    84            37           0
       JR Hopes             24   264    84            53           1
       Joginder Sharma      50   320    91            46           1
       K Goel               12   120    42            25           0
       M Muralitharan       50   283    91            31           4
       MS Gony              52   160    99            40           3

                        total_runs  non_boundary  is_wicket  ballNo  \
id     bowler
335982 AA Noffke                41             0          1      25
       AB Agarkar               25             0          3      28
       AB Dinda                  9             0          2      20
       CL White                 24             0          0       7
       I Sharma                 13             0          1      19
       JH Kallis                52             0          1      25
       LR Shukla                12             0          1       9
       P Kumar                  41             0          0      25
       SB Joshi                 26             0          0      18
       SC Ganguly               23             0          3      25
       Z Khan                   38             0          1      24
335983 B Lee                    36             0          1      25
       IK Pathan                47             0          2      24
       JDP Oram                 37             0          0      24
       JR Hopes                 54             0          1      24
       Joginder Sharma          47             0          1      25
       K Goel                   25             0          0      12
       M Muralitharan           35             0          1      25
       MS Gony                  43             0          1      26

                          costRate
id     bowler
335982 AA Noffke         64.975610
       AB Agarkar       122.714286
       AB Dinda         232.222222
       CL White          29.166667
       I Sharma         151.417004
       JH Kallis         52.076923
       LR Shukla         86.111111
       P Kumar           60.975610
       SB Joshi          69.230769
       SC Ganguly       120.695652
       Z Khan            67.324561
335983 B Lee             73.444444
       IK Pathan         59.397163
       JDP Oram          64.864865
       JR Hopes          48.611111
       Joginder Sharma   57.191489
       K Goel            48.000000
       M Muralitharan    75.428571
       MS Gony           64.311270

In [97]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 9667 entries, (335982, 'AA Noffke') to (1237181, 'TA Boult')
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   inning        9667 non-null   int64
 1   over          9667 non-null   int64
 2   ball          9667 non-null   int64
 3   batsman_runs  9667 non-null   int64
 4   extra_runs    9667 non-null   int64
 5   total_runs    9667 non-null   int64
 6   non_boundary  9667 non-null   int64
 7   is_wicket     9667 non-null   int64
 8   ballNo        9667 non-null   int64
 9   costRate      9667 non-null   float64
dtypes: float64(1), int64(9)
memory usage: 835.0+ KB